<%= render 'shared/navigation' %>

<%= render 'pages/home/hero' %>
<%= render 'pages/home/about' %>
<%= render 'pages/home/story' %>

<div class="relative">
  <%= render 'pages/home/services' %>
  <%= render 'pages/home/pricing' %>
  <div class="pointer-events-none hidden md:block absolute -top-10 left-0 -translate-y-[12%] -translate-x-[8%] z-0" aria-hidden="true">
    <div class="relative">
      <div class="absolute -top-6 -right-6 h-24 w-24 rounded-full hero-orb-sage blur-3xl opacity-70"></div>
      <%= image_tag "hand-flower.png",
                    alt: "Decorative floral hand",
                    class: "relative max-w-none object-contain drop-shadow-[0_25px_80px_-40px_rgba(104,72,57,0.55)]" %>
    </div>
  </div>
</div>

<%= render 'pages/home/promotions' %>
<%= render 'pages/home/testimonials' %>
<%= render 'pages/home/team' %>
<%= render 'pages/home/gallery' %>
<%= render 'pages/home/faq' %>
<%= render 'pages/home/contact' %>
<%= render 'pages/home/safety' %>
<%= render 'pages/home/cta_banner' %>
<%= render 'shared/mobile_sticky_cta' %>

<%= render 'shared/footer' %>
